.lmj-categories {
	text-align: center;
	padding-top: 30px;
}

.lmj-categories-select {
	margin-right: 15px;
}

.lmj-button{
    background-color: white;
    color: rgb(3, 72, 17);
    border-radius: 0.48em;
    border-color: rgb(3, 72, 17);
    
}